apiVersion: v1
kind: Service
metadata:
  name: nginx-ingress-controller
  namespace: ingress
spec:
  type: LoadBalancer
  selector:
    app: nginx-ingress
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
