apiVersion: v1
kind: Service
metadata:
  name: todo-service
  namespace: {{ namespace }}
spec:
  selector:
    {{ labels | to_nice_yaml(indent=4) }}
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000

